<div class="container">
  <div class="row">
    <div class="col">
      
      <h3>ショッピングカート</h3>
      <table class="table table-striped" >
        <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </thead>
        <tbody>
        <% @合計金額 = 0 %>
        <% @cart_item.each do |cart_item| %>
            <tr>
              <td><%= cart_item.product.name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
