<div class="container">
  <div class="col-lg-5">
   
  </div>
  <div class="col-lg-5">
    
  </div>
  <h1><%= @product.name %></h1>

<p><%= @product.description %></p>

<%= image_tag @product.image %>

<p>価格: <%= @product.tax_excluded_price %>円（税抜き）</p>