<div class="container">
  <div class="row">
    <div class="col-xs-12 me-auto">
      <div class="text-center">

        <p>
          <span>Welcome Naganocake</span><br>
          このサイトは、ケーキの販売のECサイトになります。<br>
          会員でもない方も商品の観覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container new-item">
  <h2>新着情報</h2>
  <div class="row">
    <% @products.first(4).each do |product| %>
     <%= render partial: "publics/homes/product", locals: { product: product } %>
    <% end %>
  </div>
  <div class="all-products-show-button"><%= link_to "全ての商品をみる", products_path %></div>
</div>
