<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="empty-space"></div>
      </div>
    </div>
  </div>
</footer>

<style>
.empty-space {
  width: 100%;
  margin-top: 10px;
  height: 130px;
}
</style>