<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h1 class="sample"></h1>
    </nav>
    <nav>
      <ul>
        <% if customer_signed_in? %>
        <li>
          ようこそ
        </li>
      </ul>
    </nav>
  </div>
</header>